APP_ENV=prod
APP_DEBUG=0
APP_SECRET=replace-with-random-app-secret
APP_FRONT_BASE_URL=http://localhost:3000
DEFAULT_URI=http://localhost:8080
TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR

DATABASE_URL=mysql://app:app@db:3306/starter?serverVersion=8.0.32&charset=utf8mb4

JWT_SECRET_KEY=/app/var/runtime/jwt/private.pem
JWT_PUBLIC_KEY=/app/var/runtime/jwt/public.pem
JWT_PASSPHRASE=replace-with-random-jwt-passphrase

MERCURE_URL=http://mercure/.well-known/mercure
MERCURE_PUBLIC_URL=http://localhost/.well-known/mercure
MERCURE_JWT_SECRET=replace-with-random-mercure-secret

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MESSENGER_MAIL_TRANSPORT_DSN=doctrine://default?queue_name=mail&auto_setup=0
MESSENGER_OUTBOX_TRANSPORT_DSN=doctrine://default?queue_name=outbox&auto_setup=0
MESSENGER_FAILED_TRANSPORT_DSN=doctrine://default?queue_name=failed&auto_setup=0

MAILER_DSN=null://null
MAILER_FROM=no-reply@app.test
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
